1. check if you have node v6.9.x or higher
2. check if you have npm  v3.x.x or higher

	- in command line run:
		node -v
		npm -v

3. install angular cli

	- in the command line run:

		npm i -g @angular/cli

4. create your app (Optionally)

	- in the command line run:

		ng new name_of_app

5. install node_modules

	- in the command line run:

		npm i

6. serve your app

	// THE OPEN OPTION
	// 	--open ( or just -o ) opens your browser for you @ http://localhost:4200/

	// THE SERVE COMMAND 
	// 	- launches the server, 
	//	- watches your files, 
	//	- and rebuilds the app as you make changes to your files

	- in the command line run:

		cd my-app
		ng serve --open  	// OR //  npm start  // same thing


NOTE:
  // here's where you can find all of the AST compiler options
  "./node_modules/@angular/cli/lib/config/schema.json"
  
		ng serve --open

NOTES:

	a. git

		- remove files that were already part of the project, 
			e.g. remove node_modules from source control

			i.  add 'node_modules' to .gitignore file

			ii. in the command line run:

				git rm -r --cached node_modules
				git commit -m 'Remove the now ignored directory node_modules'
				git push origin master
