/* Coolors Exported Palette - coolors.co/272d2d-b8c5d6-f5fff6-d9dde1-878c8f */

/* HSL */
$color1: hsla(180%, 7%, 16%, 1);
$color2: hsla(214%, 27%, 78%, 1);
$color3: hsla(126%, 100%, 98%, 1);
$color4: hsla(210%, 12%, 87%, 1);
$color5: hsla(203%, 3%, 55%, 1);

/* RGB */
$color1: rgba(39, 45, 45, 1);
$color2: rgba(184, 197, 214, 1);
$color3: rgba(245, 255, 246, 1);
$color4: rgba(217, 221, 225, 1);
$color5: rgba(135, 140, 143, 1);