.zalgo-dropdown {
    position: relative;
    display: inline-block;
}

.zalgo-dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: white;
    height: 100%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 16;
}

.zalgo-show {
    display: block;
}