// Res Nav & Header
// ===============================================================

$dropdownBackgroundColor = #f9f9f9;
$dropdownZIndex = 16;
$dropdownBoxShadow = 0px 8px 16px 0px rgba(0,0,0,0.2);

.zalgo-dropdown {
    position: relative;
    display: inline-block;
}

.zalgo-dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdownBackgroundColor;
    min-width: 160px;
    overflow: auto;
    box-shadow: $dropdownBoxShadow;
    z-index: $dropdownZIndex;
}

.zalgo-show {
    display: block;
}
