body, .custom_dropdown select {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: .01em;
  color: #444444; }
  @media screen and (max-width: 32em) {
    body, .custom_dropdown select {
      font-size: 16px; } }
  @media screen and (max-width: 20em) {
    body, .custom_dropdown select {
      font-size: 14px; } }

.main-nav, a button,
.button,
input[type="button"],
input[type="submit"], input,
input[type="text"],
input[type="password"],
input[type="search"],
.custom_dropdown select,
textarea, .checkbox-item input + span:before,
.radio-item input + span:before, .select_visible-option, .data-table th, .data-table td {
  -webkit-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/******************************************



	Global



******************************************/
body {
  background-color: #F5F5F5;
  position: relative; }

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.full-width {
  width: 100%; }

.contain {
  width: 90%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 32em) {
    .contain {
      width: 94%; } }

.no-scroll {
  overflow: hidden; }

/******************************************



	Main Content 



******************************************/
.container {
  margin-bottom: 250px; }

.sidebar-nav .container {
  position: relative;
  min-height: 100vh;
  margin-bottom: 0; }

.sidebar-nav #content {
  padding: 2rem;
  width: 100%;
  max-width: 1024px;
  margin: 0; }

.main-section {
  padding-bottom: 2em; }
  @media screen and (max-width: 55em) {
    .main-section {
      padding-bottom: 1em; } }

.content-panel {
  padding: 3em;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  background-color: white; }
  @media screen and (max-width: 55em) {
    .content-panel {
      padding: 2em 8%; } }
  @media screen and (max-width: 32em) {
    .content-panel {
      padding: 2em 6%; } }
  @media screen and (max-width: 20em) {
    .content-panel {
      padding: 2em 4%; } }

.sub-section {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: solid 1px #c3c3c3; }
  .sub-section:last-child {
    margin-bottom: 0;
    border: none; }

ul.grid_container {
  padding: 0;
  margin: 0;
  list-style: none; }

li.grid_item {
  display: block; }

/******************************************



	Footer



******************************************/
.sidebar-nav footer {
  position: absolute;
  height: 20vh; }

.footer {
  text-align: center;
  background-color: #CCCCCC;
  padding-bottom: 4em;
  padding-top: 3em;
  position: fixed;
  z-index: -100;
  bottom: 0;
  color: #555; }

.ksu-logo {
  width: 12em;
  margin-bottom: 1em; }

.copywrite {
  margin: 0; }

/******************************************



	Nav



******************************************/
.site-title {
  font-size: 1.5em;
  margin-top: .45em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer; }

header {
  background-color: #102330;
  position: fixed;
  top: 0;
  z-index: 5; }

nav {
  position: relative;
  margin: 0 28px; }
  nav.with-search {
    margin-right: 0; }
    @media screen and (max-width: 55em) {
      nav.with-search {
        margin-right: 12px; } }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right; }
    nav ul li {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 1.2em; }
  @media screen and (max-width: 55em) {
    nav {
      position: static;
      margin: 0 12px; } }
  @media screen and (max-width: 32em) {
    nav {
      border-bottom: none; } }

.main-nav-link {
  font-size: .8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .13em;
  padding-bottom: 6px;
  margin-top: 18px;
  border-bottom: solid 10px;
  border-color: #102330;
  font-weight: 700;
  display: inline-block;
  opacity: 1;
  transition: all .3s;
  cursor: pointer; }
  .main-nav-link:hover, .main-nav-link.active {
    border-color: #336191;
    color: #FFF; }

.menu-toggle {
  display: none; }

@media screen and (max-width: 32em) {
  .main-nav-search.fixed {
    position: fixed;
    top: 46px; } }

@media screen and (max-width: 25em) {
  .main-nav-search.fixed {
    top: 42px; } }

@media screen and (max-width: 55em) {
  .main-nav-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; } }

@media screen and (max-width: 25em) {
  .main-nav-search {
    top: 0; } }

.main-nav-search .search-form {
  background-color: #183B5B;
  border-left: solid 1em #183B5B;
  border-right: solid 1em #183B5B;
  position: static; }
  @media screen and (max-width: 55em) {
    .main-nav-search .search-form {
      position: relative;
      border-left: solid 1em #2b5681;
      border-right: solid 1em #2b5681;
      background-color: #2b5681;
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em; } }
  .main-nav-search .search-form input[type="search"],
  .main-nav-search .search-form input#search {
    height: 57px;
    border: none;
    font-size: .9em;
    padding-right: 2em;
    background-color: transparent;
    color: white; }
    @media screen and (max-width: 55em) {
      .main-nav-search .search-form input[type="search"],
      .main-nav-search .search-form input#search {
        height: auto; } }
    @media screen and (max-width: 32em) {
      .main-nav-search .search-form input[type="search"],
      .main-nav-search .search-form input#search {
        font-size: 1.1em; } }
    .main-nav-search .search-form input[type="search"] + input[type="submit"],
    .main-nav-search .search-form input#search + input[type="submit"] {
      width: 57px;
      height: 57px;
      background-size: 40%;
      background-color: transparent; }
      @media screen and (max-width: 55em) {
        .main-nav-search .search-form input[type="search"] + input[type="submit"],
        .main-nav-search .search-form input#search + input[type="submit"] {
          right: 0; } }

.main-nav-search .search-form_white *::-webkit-input-placeholder {
  opacity: .6; }

@media screen and (max-width: 55em) {
  .top-nav .main-nav {
    padding: 3em 2em;
    z-index: 1;
    float: none;
    overflow: hidden;
    position: absolute;
    top: 57px;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #183B5B; }
    .top-nav .main-nav li {
      display: block;
      padding: 0;
      margin: 0 0 1.5em 0; } }

@media screen and (max-width: 32em) {
  .top-nav .main-nav {
    top: 46px;
    width: 100%;
    text-align: center;
    right: -100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4em;
    transition-duration: .3s; } }

@media screen and (max-width: 25em) {
  .top-nav .main-nav {
    top: 42px; } }

@media screen and (max-width: 55em) {
  .top-nav .main-nav .main-nav-link {
    border-color: transparent;
    font-size: 1.1em; }
    .top-nav .main-nav .main-nav-link:hover {
      border-color: #336191; } }

@media screen and (max-width: 32em) {
  .top-nav .main-nav .main-nav-link {
    font-size: 1.3em; } }

@media screen and (max-width: 55em) {
  .top-nav .menu-toggle {
    display: block;
    border-width: 8px; } }

@media screen and (max-width: 32em) {
  .top-nav .menu-toggle .main-nav-link {
    border-width: 7px;
    padding-bottom: .3em;
    margin-top: 15px; }
    .top-nav .menu-toggle .main-nav-link:hover {
      border-color: transparent; } }

.top-nav .menu-button {
  font-size: .8em; }

.top-nav .menu-open > .main-nav {
  right: 0px;
  overflow-y: scroll; }

.dropdown {
  position: relative; }

.sub-nav {
  position: absolute;
  background-color: #336191;
  width: 120px; }

.sidebar {
  height: 100vh;
  width: 320px;
  float: left; }
  .sidebar + .container {
    margin-left: 320px; }
  .sidebar nav {
    margin: 0; }
  .sidebar .home {
    padding: 0 2rem;
    margin-top: 2rem;
    display: block;
    text-align: center; }
  .sidebar .logo {
    width: 100px; }
  .sidebar .site-title {
    font-size: 1.75em; }
  .sidebar .main-nav {
    float: none;
    margin-top: 4rem; }
    .sidebar .main-nav li {
      margin: 0;
      display: block; }
      .sidebar .main-nav li .main-nav-link {
        margin: 0;
        width: 100%;
        padding: .8em 0;
        border-bottom: none;
        border-left: solid #102330;
        border-width: 1rem;
        text-indent: 1rem; }
        .sidebar .main-nav li .main-nav-link:hover, .sidebar .main-nav li .main-nav-link.current {
          background-color: #183B5B;
          border-color: #5C81A7;
          text-indent: 1.5rem; }
        .sidebar .main-nav li .main-nav-link.current {
          border-color: #336191; }

/******************************************



	Typography



******************************************/
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

h1 {
  color: #183B5B;
  font-size: 3.4em;
  margin-bottom: .2em;
  line-height: 1.2em;
  letter-spacing: .1em;
  text-transform: uppercase; }
  @media screen and (max-width: 32em) {
    h1 {
      font-size: 3.2em; } }

h2 {
  font-size: 2.2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 400; }
  @media screen and (max-width: 55em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-size: 1.6em;
  color: #336191; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.25em;
  color: #a9a9a9;
  font-weight: normal;
  margin-bottom: .7em; }

.main-section-header {
  margin-bottom: .8em;
  display: inline-block;
  border-bottom: solid 5px #ccc; }

.caps-lock {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.body-copy article {
  display: block; }

b, strong {
  font-weight: 700; }

.introduction {
  font-size: 1.4em;
  color: #858585;
  margin-bottom: 1.6em; }

.content-center {
  text-align: center; }

/*---------------- Lists ----------------*/
ol.list, ul.list {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin: 0; }
  ol.list li, ul.list li {
    position: relative;
    margin-bottom: .25em;
    margin-top: .25em; }

ol.list li:before {
  content: counter(li);
  counter-increment: li;
  font-weight: 700;
  margin-right: .6em;
  color: #336191; }

ul.list li {
  padding-left: 1em; }
  ul.list li:before {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: .4em;
    width: .4em;
    background-color: #336191; }

/******************************************



	Links



******************************************/
a {
  color: #4CA8CC;
  text-decoration: inherit;
  font-weight: 500; }

a:hover {
  color: #2081a6; }

.action-link {
  display: inline-block;
  letter-spacing: .1em;
  border: solid 3px #336191;
  font-size: 1em;
  padding: 1em 2em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  transition-duration: .2s;
  margin: .5em; }
  @media screen and (max-width: 55em) {
    .action-link {
      font-size: .9em;
      padding: .8em 1.5em; } }
  @media screen and (max-width: 32em) {
    .action-link {
      font-size: 1em;
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.action-link:hover {
  border-color: #183B5B; }

.button,
button,
input[type="submit"],
input[type="button"] {
  font-size: inherit;
  background-color: #336191;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: solid 2px #336191;
  padding: 0 2em;
  height: 2.5em;
  display: inline-block; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: #183B5B;
    border-color: #183B5B; }

.primary {
  color: #FFF;
  background-color: #336191; }
  .primary:hover {
    color: #FFF;
    background-color: #183B5B; }

.secondary {
  color: #5c81a7;
  background-color: transparent;
  border-color: #5c81a7; }
  .secondary:hover {
    color: #336191;
    background-color: #FFF;
    border-color: #336191; }

.popup-window .action-link {
  padding: .7em 1.2em;
  font-size: .9em;
  letter-spacing: .05em; }

.action-link_grid {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0; }
  .action-link_grid .action-link_item {
    width: 32%;
    margin-bottom: 2%;
    display: block; }
    @media screen and (max-width: 960px) {
      .action-link_grid .action-link_item {
        width: 48.5%;
        margin-bottom: 3%; } }
    @media screen and (max-width: 780px) {
      .action-link_grid .action-link_item {
        width: 100%; } }

.action-link_grid .action-link {
  margin: 0;
  display: block;
  font-size: .9em;
  padding: .75em 1em;
  text-align: center; }

/******************************************



	Forms



******************************************/
form label, form input {
  display: block; }

.form-label {
  font-size: .9em;
  color: #999;
  padding-bottom: .3em;
  font-weight: 500;
  letter-spacing: .01em; }
  @media screen and (max-width: 32em) {
    .form-label {
      font-size: 1em; } }

.form-section {
  margin-bottom: 3em;
  border-bottom: solid 1px #c3c3c3;
  padding-bottom: 2em; }
  .form-section:last-of-type {
    border: none;
    padding-bottom: 0; }

/*---------------- Global ----------------*/
input[type="text"],
input[type="password"],
input[type="search"],
textarea,
select {
  font-size: 1em;
  margin-bottom: 1em; }

input,
input[type="text"],
input[type="password"],
input[type="search"],
.custom_dropdown select,
textarea {
  border: solid 2px #ccc;
  padding: .6em .5em;
  height: 2.6em; }
  input:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  .custom_dropdown select:focus,
  textarea:focus {
    outline: none;
    border-color: #838383; }

select {
  cursor: pointer;
  color: #777; }

textarea {
  height: 10em;
  padding: .7em 1em;
  resize: vertical; }

/*---------------- Search Form ----------------*/
.search-form {
  position: relative;
  width: auto;
  display: inline-block; }

input[type="search"], input#search {
  -webkit-appearance: none;
  border-right-width: 2.6em;
  margin: 0; }
  input[type="search"]:focus, input#search:focus {
    border-color: #5C81A7; }

*::-webkit-input-placeholder {
  color: #ccc; }

*:focus::-webkit-input-placeholder {
  visibility: hidden; }

input[type="search"] + input[type="submit"],
input#search + input[type="submit"],
.search-submit {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 2.6em;
  height: 2.6em;
  border: none;
  text-indent: -1000px;
  background-color: #5C81A7;
  background-image: url("../images/search-icon_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%; }

/*---------------- Search Form Reversed ----------------*/
.search-form_b {
  margin-bottom: 0; }

.search-form_b input[type="search"],
.search-form_b input#search {
  padding: .3em 1.6em .3em 0;
  height: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #FFF;
  color: #FFF;
  background-color: transparent; }

.search-form_b *::-webkit-input-placeholder {
  color: #FFF;
  opacity: .35; }

input[type="search"] + input[type="submit"].search-submit_b,
input#search + input[type="submit"].search-submit_b,
.search-submit_b {
  background-color: transparent;
  width: 1.3em;
  height: 1.3em;
  background-size: 90%;
  background-image: url("../images/search-icon_white.png");
  bottom: 0;
  top: auto;
  border-bottom: solid .35em transparent;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box; }

/*---------------- Checkbox / Radio Buttons ----------------*/
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0; }

.checkbox-item,
.radio-item {
  margin-bottom: .75em;
  position: relative;
  padding-left: 1.6em;
  cursor: pointer; }
  .checkbox-item:last-child,
  .radio-item:last-child {
    margin-bottom: 0; }

.checkbox-item input + span:before,
.radio-item input + span:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: solid 8px white;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px #ccc;
  background-color: #336191;
  position: absolute;
  left: 0;
  top: .25em; }

.checkbox-item input,
.radio-item input {
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 1px; }
  .checkbox-item input:hover + span:before,
  .radio-item input:hover + span:before {
    box-shadow: 0 0 0 2px #aaa; }
  .checkbox-item input:checked + span:before,
  .radio-item input:checked + span:before {
    border-width: 3px;
    box-shadow: 0 0 0 2px #336191; }

.radio-item input + span:before {
  border-radius: 50%; }

/*---------------- Select: Visible Options ----------------*/
.select_visible {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.select_visible-option {
  margin: 0;
  display: block;
  flex-grow: 1;
  text-align: center;
  padding: .43em 1em;
  min-height: 2.5em;
  border: solid 2px #ccc;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-left: -2px;
  cursor: pointer;
  z-index: 0; }
  .select_visible-option:first-child {
    margin-left: 0; }
  .select_visible-option:hover {
    color: rgba(0, 0, 0, 0.65);
    border-color: #aaa;
    z-index: 2; }
  @media screen and (max-width: 32em) {
    .select_visible-option {
      font-size: .9em;
      padding: .5em; } }

.select_visible-option.selected,
.select_visible-option.selected:hover {
  background-color: #336191;
  border-color: #336191;
  color: white;
  z-index: 3; }

/*---------------- Select: Custom Dropdown ----------------*/
.custom_dropdown {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
  font: normal normal normal 1em/1 FontAwesome; }
  .custom_dropdown:after {
    content: "\f107";
    font-size: 1.5em;
    text-align: center;
    width: 1.75em;
    line-height: 1.6em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    pointer-events: none;
    opacity: .5; }
  .custom_dropdown:hover:after {
    opacity: .65; }
  .custom_dropdown select {
    -webkit-appearance: none;
    display: block;
    background-color: #FFF;
    padding: 0 3.5em 0 1em;
    height: 2.5em;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    margin: 0; }
    .custom_dropdown select:hover {
      color: rgba(0, 0, 0, 0.65);
      border-color: #aaa;
      z-index: 2; }
  @media screen and (max-width: 32em) {
    .custom_dropdown {
      display: block; } }

/*---------------- File Upload ----------------*/
input[type="file"],
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  input[type="file"] + label,
  .inputfile + label {
    padding: .35em 1.5em 0 3em;
    position: relative;
    font-weight: normal;
    z-index: 1;
    cursor: pointer;
    background-image: url("../images/upload_white.png");
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 1.3em .6em; }
    input[type="file"] + label + input[type="submit"],
    .inputfile + label + input[type="submit"] {
      margin-left: .35em;
      margin-top: .4em; }
  input[type="file"] + label.secondary,
  .inputfile + label.secondary {
    background-image: url("../images/upload_light-blue.png"); }
    input[type="file"] + label.secondary:hover,
    .inputfile + label.secondary:hover {
      background-image: url("../images/upload_blue.png"); }

/*---------------- Popup Window ----------------*/
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.75); }

.popup-window {
  text-align: center;
  background-color: #fff;
  padding: 2em;
  padding-bottom: 3em;
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  display: none;
  margin: auto;
  box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.57); }

.popup-title {
  margin-bottom: .2em; }

.popup-subtitle {
  margin-top: 0; }

.popup-text {
  margin-bottom: 2.25em; }

img {
  max-width: 100%; }

img.small {
  width: 50%; }

.lightbox-container {
  position: relative; }

.lightbox {
  cursor: -webkit-zoom-in; }

.lightbox-window {
  display: none;
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  top: 50%;
  width: 90vw;
  max-width: 1260px;
  max-height: 80vh;
  transform: translateY(-50%);
  margin: 0 auto !important; }
  .lightbox-window img {
    max-width: 100%;
    max-height: 80vh;
    border: solid 18px white;
    margin: auto;
    display: block; }
  .lightbox-window figcaption {
    text-align: left;
    padding: 0 18px .5em 18px;
    background-color: white;
    margin: auto; }

.lb-screen {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75); }

/******************************************



	Tables



******************************************/
.data-table th, .data-table td {
  padding-left: .3em;
  padding-right: .3em; }
  .data-table th:first-child, .data-table td:first-child {
    padding-left: 1.5em; }
  .data-table th:last-child, .data-table td:last-child {
    padding-right: 1.5em; }

.data-table {
  border-spacing: 0 .35em;
  border-collapse: separate !important;
  text-align: left;
  width: 100%;
  overflow-x: scroll; }
  .data-table th {
    color: #999;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .02em;
    padding-bottom: .5em;
    vertical-align: top; }
  .data-table td {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    border-bottom: solid 3px #d3d3d3;
    background-color: white; }
  @media screen and (max-width: 32em) {
    .data-table {
      display: block; } }

.selectable-row, .deselectable-row, .removable-row {
  cursor: pointer; }

.selectable-row.selected td {
  background-color: #4CA8CC;
  color: #fff;
  border-color: #358bac; }

.deselectable-row.selected td {
  opacity: .5;
  color: #bcbcbc;
  border-color: #e3e3e3; }

.removable-row td {
  position: relative;
  overflow: hidden; }

.remove-button {
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  border: solid 3px transparent;
  opacity: .6; }
  .remove-button:hover {
    opacity: 1; }

.removed {
  opacity: .4; }

.table-pagination {
  padding: 0 1.5rem;
  font-size: .9em; }
  .table-pagination a {
    cursor: pointer;
    color: #808080;
    font-weight: normal; }

a.paginate {
  margin: 0 .1em;
  font-size: .9em;
  display: inline-block; }
  a.paginate.disabled {
    opacity: .5;
    cursor: default; }

.page-link-container {
  list-style: none;
  padding: 0;
  margin: 0 1.5em;
  display: inline-block; }
  .page-link-container li {
    display: inline-block; }
  .page-link-container a {
    padding: .3em .5em;
    margin: 0 .2em;
    border-bottom: solid 2px transparent; }
    .page-link-container a.current {
      color: #4CA8CC;
      border-color: #4CA8CC;
      font-weight: 500; }

.range-display {
  display: block;
  float: right;
  color: #bbb; }

.table-controls {
  text-align: right;
  position: relative;
  margin-bottom: 1.5em; }
  .table-controls *::-webkit-input-placeholder {
    visibility: hidden; }
  .table-controls .items-per-view {
    position: absolute;
    left: 0; }
    .table-controls .items-per-view select {
      display: inline; }
  .table-controls input[type="search"],
  .table-controls input#search {
    width: 150px;
    border: none;
    border-bottom: solid #CCC;
    background-color: transparent;
    padding: .3em .15em;
    height: auto; }
    .table-controls input[type="search"]:focus,
    .table-controls input#search:focus {
      border-color: #5C81A7;
      width: 260px; }
  .table-controls input[type="search"] + input[type="submit"],
  .table-controls input#search + input[type="submit"] {
    background-image: url("../images/search-icon_black.png");
    margin-bottom: .5em;
    padding: 0;
    width: 1.3em;
    height: 1.3em;
    background-size: 90%;
    border: none;
    background-color: #F5F5F5; }
