<div #zalgoSidenav class="zalgo-sidenav">
  <a href="javascript:void(0)" class="zalgo-close-button" (click)="closeNav()">&times;</a>
  <ng-content></ng-content>
</div>
<div class="zalgo-overlay" [ngStyle]="{'opacity': overlayOpacity, 'display': overlayDisplay}" (click)="closeNav()"></div>
<!-- Use any element to open the sidenav -->
<div class="zalgo-sidenav-menu" (click)="openNav()">
    <i class="zalgo-bar1 zalgo-shadow" aria-hidden="true"></i>
    <i class="zalgo-bar2 zalgo-shadow" aria-hidden="true"></i>
    <i class="zalgo-bar3 zalgo-shadow" aria-hidden="true"></i>
</div>