/*
 	GENERAL
 */
$zalgo-padding-tb: 12px 0px;
$zalgo-padding-rl: 0px 12px;
$zalgo-padding: 12px;
$zalgo-level-one: 10;

html, body {
    min-width: 300px;
}


/*
 	Dropdown
 */
$zalgo-dropdown-min-width: 200px;


.menu > li > a {
    color: $dropdown-text-color;
}

[class*="fa-"] {
    color: $dropdown-text-color;
}

.zalgo-top {
    bottom: 2.5em;
}

.zalgo-bottom {
    top: 2.5em;
}

.zalgo-right {
    left: 100%;
    top: 1em;
}

.zalgo-left {
    right: 100%;
    top: 1em;
}

/*
 	Accordion
 */

.zalgo-full-width {
	width: 100%;
}

.zalgo-padding {
	padding: $zalgo-padding;
}

/*
 	footer
 */

.zalgo-footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	margin: auto;
	max-width: 100%;
	height: 250px;
	width: 400px;
	background-size: contain;
	border-radius: 50%;
	border: 1px solid #ddd;
	filter: sepia(40%) invert(85%);
	box-shadow: 1px 2px 13px brown;
}

.zalgo-footer-container {
	position: relative;
	width: 100%;
	padding: $zalgo-padding;
	background-color: whitesmoke;
	border: 6px solid #eee;
}

h1 span {
  height: 210px;
  position: absolute;
  width: 20px;
  left: 47%;
  bottom: 47px;
  z-index: 12;
  transform-origin: center center;
  text-shadow: 2px 2px 4px black;
}

[class*="char"] {
    transition: 0.5s;
    animation: colorPulse infinite 6s ease-in-out;
    font-size: 0.65em;
}

@keyframes colorPulse {
	10% {
		color: black;
	}
    15% {
        color: teal;
    }
    20% {
        color: white;
    }
	25% {
		color: teal;
	}
	100% {
		color: black
	}
}

    .char1 { 
        transform: rotate(-125deg); 
        animation-delay: 0.2s;
    }
    .char2 { 
        transform: rotate(-110deg); 
        animation-delay: 0.4s;
    }
    .char3 { transform: rotate(-95deg); animation-delay: 0.3s; }
    .char4 { transform: rotate(-80deg); animation-delay: 0.4s; }
    .char5 { transform: rotate(-65deg); animation-delay: 0.5s; }
    /* space */
    .char6 { transform: rotate(-35deg); animation-delay: 1.6s; }
    .char7 { transform: rotate(-20deg); animation-delay: 1.8s; }
    .char8 { transform: rotate(-5deg); animation-delay: 2.0s; }
    .char9 { transform: rotate(10deg); animation-delay: 2.2s; }
    .char10 { transform: rotate(25deg); animation-delay: 2.4s; }
    .char11 { transform: rotate(40deg); animation-delay: 2.6s; }
    .char15 { transform: rotate(50deg); animation-delay: 2.8s; }
    .char12 { transform: rotate(55deg); animation-delay: 2.5s; }
    .char13 { transform: rotate(67.5deg); animation-delay: 2.6s; }
    .char14 { transform: rotate(75deg); animation-delay: 2.75s; }
    .char15 { transform: rotate(90deg); animation-delay: 2.75s; }


/*
 	Syntax Highlighter
 */

.syntaxhighlighter table td.gutter .line, 
.syntaxhighlighter table td.code .line, 
.syntaxhighlighter table {
	padding: 0.5em !important;
}

/*
 	side nav - each page must have this id
 */

#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow-x: auto;
}

.zalgo-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
    	color: whitesmoke;
    }
}

@media screen and (min-width: 360px) {

    [class*="char"] {
        font-size: 20px;
    }

    .char1 { 
    transform: rotate(-46deg); 
    animation-delay: 0.2s;
    }
    .char2 { 
        transform: rotate(-40deg); 
        animation-delay: 0.4s;
    }
    .char3 { transform: rotate(-34deg); animation-delay: 0.3s; }
    .char4 { transform: rotate(-28deg); animation-delay: 0.4s; }
    .char5 { transform: rotate(-22deg); animation-delay: 0.5s; }
    /* space */
    .char6 { transform: rotate(-11deg); animation-delay: 1.6s; }
    .char7 { transform: rotate(-4deg); animation-delay: 1.8s; }
    .char8 { transform: rotate(3deg); animation-delay: 2.0s; }
    .char9 { transform: rotate(10deg); animation-delay: 2.2s; }
    .char10 { transform: rotate(17deg); animation-delay: 2.4s; }
    .char11 { transform: rotate(24deg); animation-delay: 2.6s; }
    .char12 { transform: rotate(31deg); animation-delay: 2.5s; }
    .char13 { transform: rotate(37deg); animation-delay: 2.6s; }
    .char14 { transform: rotate(43deg); animation-delay: 2.75s; }
    .char15 { transform: rotate(50deg); animation-delay: 2.8s; }

    h1 span {
      font: 26px Monaco, MonoSpace;
      height: 170px;
      position: absolute;
      left: 48.5%;
      bottom: 80px;
      z-index: 12;
      transform-origin: bottom center;
      text-shadow: 2px 2px 4px black;
    }
}

@media screen and (min-width: 480px) {

    [class*="char"] {
        font-size: 24px;
    }

    .char1 { 
    transform: rotate(-46deg); 
    animation-delay: 0.2s;
    }
    .char2 { 
        transform: rotate(-40deg); 
        animation-delay: 0.4s;
    }
    .char3 { transform: rotate(-34deg); animation-delay: 0.3s; }
    .char4 { transform: rotate(-28deg); animation-delay: 0.4s; }
    .char5 { transform: rotate(-22deg); animation-delay: 0.5s; }
    /* space */
    .char6 { transform: rotate(-11deg); animation-delay: 1.6s; }
    .char7 { transform: rotate(-4deg); animation-delay: 1.8s; }
    .char8 { transform: rotate(3deg); animation-delay: 2.0s; }
    .char9 { transform: rotate(10deg); animation-delay: 2.2s; }
    .char10 { transform: rotate(17deg); animation-delay: 2.4s; }
    .char11 { transform: rotate(24deg); animation-delay: 2.6s; }
    .char12 { transform: rotate(31deg); animation-delay: 2.5s; }
    .char13 { transform: rotate(37deg); animation-delay: 2.6s; }
    .char14 { transform: rotate(43deg); animation-delay: 2.75s; }
    .char15 { transform: rotate(50deg); animation-delay: 2.8s; }

    h1 span {
      font: 26px Monaco, MonoSpace;
      height: 230px;
      position: absolute;
      left: 50%;
      bottom: 20px;
      z-index: 12;
      transform-origin: bottom center;
      text-shadow: 2px 2px 4px black;
    }
}


@media screen and (min-width: 768px) {

    [class*="char"] {
        font-size: 1em;
    }

    .char1 { 
    transform: rotate(-46deg); 
    animation-delay: 0.2s;
    }
    .char2 { 
        transform: rotate(-40deg); 
        animation-delay: 0.4s;
    }
    .char3 { transform: rotate(-34deg); animation-delay: 0.3s; }
    .char4 { transform: rotate(-28deg); animation-delay: 0.4s; }
    .char5 { transform: rotate(-22deg); animation-delay: 0.5s; }
    /* space */
    .char6 { transform: rotate(-11deg); animation-delay: 1.6s; }
    .char7 { transform: rotate(-4deg); animation-delay: 1.8s; }
    .char8 { transform: rotate(3deg); animation-delay: 2.0s; }
    .char9 { transform: rotate(10deg); animation-delay: 2.2s; }
    .char10 { transform: rotate(17deg); animation-delay: 2.4s; }
    .char11 { transform: rotate(24deg); animation-delay: 2.6s; }
    .char12 { transform: rotate(31deg); animation-delay: 2.5s; }
    .char13 { transform: rotate(37deg); animation-delay: 2.6s; }
    .char14 { transform: rotate(43deg); animation-delay: 2.75s; }
    .char15 { transform: rotate(50deg); animation-delay: 2.8s; }

    h1 span {
      font: 26px Monaco, MonoSpace;
      height: 240px;
      position: absolute;
      width: 30px;
      left: 49%;
      bottom: 20px;
      z-index: 12;
      transform-origin: bottom center;
      text-shadow: 2px 2px 4px black;
    }
    
}


